<!DOCTYPE html>
<!-- Created By CodingNepal -->
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <!-- Somehow I got an error, so I comment the title, just uncomment to show -->
    <!-- <title>404 Error Page | CodingNepal</title> -->
    <link rel="stylesheet" href="http://localhost:8080/css/forbidden.css">
</head>

<body>
    <div id="error-page">
        <div class="content">
            <h2 class="header" data-text="403">
                403</h2>
            <h4 data-text="Opps! Page not found">
                Access Denied/Forbiden</h4>
            <p>
            	The page or resource you were trying to reach is absolutely forbidden for some reason
            </p>
            <div class="btns">
                <a href="/home-page">return home</a>
                <a href="#">report problem</a>
            </div>
        </div>
    </div>
</body>

</html>