<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>List vaccine</title>
<link rel="stylesheet" th:href="@{/css/style.min.css}">
<link rel="stylesheet" th:href="@{/css/dataTables.bootstrap4.css}">
<link rel="stylesheet" th:href="@{/css/responsive.dataTables.min.css}">
<link rel="stylesheet"
	href="http://localhost:8080/css/jquery.datetimepicker.min.css">
</head>

<body class="skin-megna fixed-layout">
	<div id="main-wrapper">
		<header class="topbar" th:replace="fragments :: header"></header>
		<aside class="left-sidebar" th:replace="fragments :: menu"></aside>
		<div class="page-wrapper">
			<div class="container-fluid">
				<div class="row page-titles">
					<div class="col-md-5 align-self-center">
						<h4 class="text-themecolor">REPORT CUSTOMER</h4>
					</div>
					<div class="col-md-7 align-self-center text-right">
						<div class="d-flex justify-content-end align-items-center">
							<ol class="breadcrumb">
								<li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
								<li class="breadcrumb-item active">Report Customer</li>
							</ol>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-12">
						<div class="card">
							<div class="card-body">
								<div class="table-responsive">
									<div id="config-table_wrapper"
										class="dataTables_wrapper container-fluid dt-bootstrap4 no-footer">
										<div class="row p-b-30">
											<div class="col-sm-12 col-md-2">
												<h4 class="card-title">Display Type:</h4>
												<div class="form-check"
													style="display: flex; padding-top: 10px;">
													<div class="custom-control custom-radio">
														<input value="1" type="radio" id="customRadio1"
															name="report" checked class="custom-control-input">
														<label class="custom-control-label" for="customRadio1">Report</label>
													</div>
													<div class="custom-control custom-radio ml-5">
														<input value="2" type="radio" id="customRadio2"
															th:value="@{/admin/chart-customer}"
															onclick="location.href=(this.value)" name="report"
															class="custom-control-input"> <label
															class="custom-control-label" for="customRadio2">Chart</label>
													</div>
												</div>
											</div>
											<div class="col-sm-12 col-md-10">
												<form th:action="@{/admin/customer-filter}" method="GET"
													style="display: flex">
													<div class="col-sm-12 col-md-6">
														<h4 class="card-title">Birthday</h4>
														From: &nbsp <input type="date" id="startDate"
															name="fromDate" style="width: 38%; min-height: 38px;"
															class="form-control form-control-sm"
															aria-controls="config-table"> &nbsp To: &nbsp <input
															type="date" style="width: 38%; min-height: 38px"
															id="endDate" name="toDate"
															class="form-control form-control-sm"
															aria-controls="config-table">
													</div>
													<div class="col-sm-12 col-md-2">
														<h4 class="card-title">FullName</h4>
														<input style="min-height: 38px;" type="text"
															name="fullName" class="form-control form-control-sm"
															aria-controls="config-table">

													</div>
													<div class="col-sm-12 col-md-2">
														<h4 class="card-title">Address</h4>
														<input style="min-height: 38px;" type="text"
															name="address" class="form-control form-control-sm"
															aria-controls="config-table">

													</div>
													<div class="col-sm-12 col-md-2">
														<h4 class="card-title">Action</h4>
														<button style="min-height: 38px;" class="btn btn-success"
															type="submit">Filter</button>
														<button style="min-height: 38px;" class="btn btn-info"
															onclick="clearFilter()" type="button">Cancel</button>
													</div>
												</form>
											</div>

										</div>

										<hr>
										<div class="row p-t-30">
											<div class="col-sm-12">
												<table id="config-table"
													class="table display table-bordered table-striped no-wrap dataTable no-footer dtr-inline"
													role="grid" aria-describedby="config-table_info">
													<thead>
														<tr role="row">
															<th>Full name</th>
															<th>Date of Birth</th>
															<th>Address</th>
															<th>Identity card</th>
															<th>Number of Inject</th>

														</tr>
													</thead>
													<tbody>
														<tr th:each="customer,iterStat : ${listCustomer}">
															<td>[[${customer.fullName}]]</td>
															<td>[[${customer.dateOfBirth}]]</td>
															<td>[[${customer.address}]]</td>
															<td>[[${customer.identityCard}]]</td>
															<td>[[${customer.injectionResults.size}]]</td>
														</tr>
													</tbody>
												</table>
											</div>
										</div>
										<div class="row p-t-20">
											<div class="col-sm-12 col-md-5">
												<div class="dataTables_info" id="config-table_info"
													th:if="${totalItems > 0}" role="status" aria-live="polite">Total
													Items: [[${totalItems}]] - [[${currentPage}]] of
													[[${totalPages}]]</div>
												<div class="dataTables_info" id="config-table_info"
													th:unless="${totalItems > 0}" role="status"
													aria-live="polite"></div>
											</div>
											<div class="col-sm-12 col-md-7">
												<div class="dataTables_paginate paging_simple_numbers"
													id="config-table_info">
													<ul class="pagination">
														<li
															th:class="${currentPage > 1  ? 'paginate_button page-item next': 'paginate_button page-item disabled'}">
															<a th:href="@{/admin/report-customer/1}"
															aria-controls="config-table" data-dt-idx="0" tabindex="0"
															class="page-link">First</a>
														</li>
														<li
															th:class="${currentPage > 1 ? 'paginate_button page-item next' :  'paginate_button page-item disabled' }">
															<a
															th:href="@{'/admin/report-customer/'+${currentPage-1}}"
															aria-controls="config-table" data-dt-idx="0" tabindex="0"
															class="page-link">Previous</a>
														</li>
														<th:block th:if="${totalPages==0}">
															<li class="paginate_button page-item disabled"><a
																th:href="@{'/admin/report-customer/1'}"
																aria-controls="config-table" data-dt-idx="0"
																tabindex="0" class="page-link">0</a></li>
														</th:block>
														<th:block th:if="${totalPages<=10 && totalPages>0}">
															<li th:each="i:${#numbers.sequence(1,totalPages)}"
																th:class=" ${i != currentPage ? 'paginate_button page-item next'  : 'paginate_button page-item active' }">
																<a th:href="@{'/admin/report-customer/'+${i}}"
																aria-controls="config-table" data-dt-idx="0"
																tabindex="0" class="page-link">[[${i}]]</a>
															</li>
														</th:block>
														<th:block th:if="${totalPages>10}">
															<th:block
																th:if="${currentPage <= 5 || currentPage > totalPages-4}">
																<li th:each="i:${#numbers.sequence(1,5)}"
																	th:class=" ${i != currentPage ? 'paginate_button page-item next'  : 'paginate_button page-item active' }">
																	<a th:href="@{'/admin/report-customer/'+${i}}"
																	aria-controls="config-table" data-dt-idx="0"
																	tabindex="0" class="page-link">[[${i}]]</a>
																</li>

																<li th:each="i:${#numbers.sequence(6)}"
																	th:class=" ${i != currentPage ? 'paginate_button page-item next'  : 'paginate_button page-item active' }">
																	<a th:href="@{'/admin/report-customer/'+${i}}"
																	aria-controls="config-table" data-dt-idx="0"
																	tabindex="0" class="page-link">...</a>
																</li>

																<li
																	th:each="i:${#numbers.sequence(totalPages-4,totalPages)}"
																	th:class=" ${i != currentPage ? 'paginate_button page-item next'  : 'paginate_button page-item active' }">
																	<a th:href="@{'/admin/report-customer/'+${i}}"
																	aria-controls="config-table" data-dt-idx="0"
																	tabindex="0" class="page-link">[[${i}]]</a>
																</li>


															</th:block>
															<th:block
																th:if="${currentPage>5 && currentPage < totalPages-4}">
																<a
																	th:href="@{'/admin/report-customer/'+${currentPage-5}}"
																	aria-controls="config-table" data-dt-idx="0"
																	tabindex="0" class="page-link">...</a>
																<li
																	th:each="i:${#numbers.sequence(currentPage-4,currentPage+4)}"
																	th:class=" ${i != currentPage ? 'paginate_button page-item next'  : 'paginate_button page-item active' }">
																	<a th:href="@{'/admin/report-customer/'+${i}}"
																	aria-controls="config-table" data-dt-idx="0"
																	tabindex="0" class="page-link">[[${i}]]</a>
																</li>
																<a
																	th:href="@{'/admin/report-customer/'+${currentPage+5}}"
																	aria-controls="config-table" data-dt-idx="0"
																	tabindex="0" class="page-link">...</a>

															</th:block>

														</th:block>
														<li
															th:class="${currentPage < totalPages ? 'paginate_button page-item next' :'paginate_button page-item disabled' }">
															<a
															th:href="@{'/admin/report-customer/'+${currentPage+1}}"
															aria-controls="config-table" data-dt-idx="0" tabindex="0"
															class="page-link">Next</a>
														</li>
														<li
															th:class="${currentPage < totalPages ? 'paginate_button page-item next' :'paginate_button page-item disabled' }">
															<a th:href="@{'/admin/report-customer/'+${totalPages}}"
															aria-controls="config-table" data-dt-idx="0" tabindex="0"
															class="page-link">Last</a>
														</li>
													</ul>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="footer" th:replace="fragments :: footer"></div>
	</div>
</body>

<script th:src="@{/js/jquery-3.2.1.min.js} "></script>
<script th:src="@{/js/popper.min.js }"></script>
<script th:src="@{/js/bootstrap.min.js }"></script>
<script th:src="@{/js/perfect-scrollbar.jquery.min.js }"></script>
<script th:src="@{/js/waves.js }"></script>
<script th:src="@{/js/sidebarmenu.js }"></script>
<script th:src="@{/js/custom.min.js }"></script>
<script th:src="@{/js/jquery.sparkline.min.js }"></script>
<script th:src="@{/js/jquery.dataTables.min.js }"></script>
<script th:src="@{/js/dataTables.responsive.min.js }"></script>
<script th:src="@{/js/dataTables.buttons.min.js} "></script>
<script src="http://localhost:8080/js/jquery.datetimepicker.full.js "></script>

<script type="text/javascript">
	function clearFilter() {
		window.location = "/admin/report-customer"
	}

	$("#startDate").datetimepicker({
		timepicker : false,
		datepicker : true,
		format : 'Y-m-d',
		onShow : function(ct) {
			this.setOptions({
				maxDate : $('#endDate').val() ? $('#endDate').val() : false
			})
		}
	})

	$("#endDate").datetimepicker({
		timepicker : false,
		datepicker : true,
		format : 'Y-m-d',
		onShow : function(ct) {
			this.setOptions({
				minDate : $('#startDate').val() ? $('#startDate').val() : false
			})
		}
	})
</script>
</html>